body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004895;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 23px;
    padding: 16px 18px;
    text-decoration: none;
}
/* change the link color on hover */
li a:hover:not(.active) {
    background-color: #2a71bc;
}
/* change the link color to show the user what page they're on */
.active {
    background-color: #2a71bc;
}

h1 {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

h4 {
    text-align: left;
}

/* container for the forms */
.container {
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
    width: 500px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* .form-label {
    display: inline-block;
    width: 550px;
    text-align: left;
    margin-right: 10px;
} */

form input {
    display: inline-block;
    font-size: 15px;
    width: 150px;
}

form select {
    display: inline-block;
    font-size: 15px;
    width: 140px;
}

.error-message {
    text-align: center;
    margin-bottom: 10px;
    color: darkred;
    background-color: #ffcccc;
    padding: 5px;
}

.success-message {
    text-align: center;
    margin-bottom: 10px;
    color: darkgreen;
    background-color: #ccffda;
    padding: 5px;
}

.team-name {
    float: right;
}

button {
    padding: 10px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1777dd;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 85px;
    margin: 20px auto;
}

.reserve-seat-button {
    padding: 10px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1777dd;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 125px;
    margin: 20px auto;
}

button:hover {
    background-color: #004895;
}

.seating-chart tr {
    height: 30px;
}

.seating-chart-display {
    margin: 0 auto;
    max-width: 800px;
    overflow-x: auto;
    text-align: center;
}

.seating-chart,
.seating-chart-display table {
    border-collapse: collapse;
    margin: 0 auto;
}

.seating-chart td,
.seating-chart-display td {
    border: 1px solid #f4f3ef;
    text-align: center;
    padding: 6px;
    font-size: 0.8em;
    width: 30px;
}

.seating-chart td.taken,
.seating-chart-display .taken {
    background-color: #FF605C;
    color: #f4f3ef;
}

.seating-chart td.available ,
.seating-chart-display .available {
    background-color: #70e970;
    color: #f4f3ef;
}

/* titles for "seating chart" and "total sales" */
h2 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}