<!-- admin logged in page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Logged In</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- navigation bar -->
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/reserve">Reservations</a></li>
            <li class="team-name"><a href="">Scrum Team 10</a></li>
        </ul>
    </div>
    
    <h1>You have successfully logged in! View trip details below.</h1>
    <h2>Seating Chart</h2>
    <table class="seating-chart">
        {% for row in seating_chart %}
        <tr>
            {% for seat in row %}
            <td class="{{ 'taken' if seat['status'] == 'X' else 'available' }}"
                title="Name: {{ seat['passengerName'] }} Ticket: {{ seat['eTicketNumber'] }}">
                {{ seat['status'] }}
            </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <!-- display total sales calculation -->
    <h2>Total Sales: ${{ total_sales }}</h2>

    <div class="container">
        <button onclick="logout()">Logout</button>
    </div>
    
    <script>
        function logout() {
            // go back to login page
            window.location.href = "/admin";
        }
    </script>
</body>
</html>